<% 
const head = {
  title: common.title.contact,
  disc: common.disc.contact,
  theme: ""
};

const header = {
  contact: {
    href: "/contact/",
    text: "CONTACT"
  }
};

const hero = {
  title: "CONTACT",
  sub: "お問い合わせ",
};

%>

<%- include('../modules/meta/_head.html', head) %>
<%- include('../modules/layout/_header.html', {header: header}) %>

<%- include('../modules/components/_sub-hero.html', {hero: hero}) %>

<main>

  <div class="jicoo">
    <p>
      弊社BugFixへのお問い合わせは<br class="jicoo-spbr">こちらのフォームから承っております。<br>
      お仕事、イベント事、その他のお問い合わせ<br class="jicoo-spbr">についてもお気軽にご連絡ください。<br>
      送信から3営業日以内を目安に<br class="jicoo-spbr">ご返信させていただきます。
    </p>

    <div class="jicoo-widget" data-url="https://www.jicoo.com/forms/i8tYisJ3LJYA/widget"></div>
  </div>
</main>

<%- include('../modules/layout/_footer.html', {modifier: ""}) %>

<script type="text/javascript" src="https://www.jicoo.com/widget/event_type.js" async></script>
<%- include('../modules/meta/_foot.html') %>