<% 
const head = {
  title: common.title.siid.index,
  disc: common.disc.siid.index,
  theme: "theme-siid"
};

const header = {
  contact: {
    href: "/siid/counseling/",
    text: "お申し込み"
  }
};

const hero = {
  title: "COUNSELING",
  sub: "お申し込み・個別相談",
  disc: "学習やキャリアに関するご相談も◎"
};

%>

<%- include('../modules/meta/_head.html', head) %>
<%- include('../modules/layout/_header.html', {header: header}) %>

<%- include('../modules/components/_sub-hero.html', {hero: hero}) %>

<main>
  
  <div class="counseling-lead">
    <p>
      <strong>すでにお申し込みを決めてる、迷っている、</strong>どちらの場合でもお気軽にお申込ください。
    </p>
    <p>
      講師の堀口が直接お話をお伺いし、<br class="counseling-lead-spbr">プログラミング学習やキャリア相談について<br class="counseling-lead-spbr">ご相談にのります。<br>
    </p>
  </div>

  <section class="application">

    <h1 class="application-conductor">お申し込みはこちらから</h1>
    
    <div class="application-header">
      <dl class="application-selection" id="js-tab">
        <dt>
          ご希望のコースを選択ください。<br>
          
          送信いただいた番号に当日お電話からご連絡いたします。
          <br class="application-spbr">
          (Basicは最長20分、Careerは最長45分程度です)
        </dt>
        <dd>
          <label class="radio">
            <input name="course" type="radio" value="basic">
            <span class="radio-inner"><i></i>Basicコース</span>
          </label>
        </dd>
        <dd>
          <label class="radio">
            <input name="course" type="radio" value="career">
            <span class="radio-inner"><i></i>Careerコース</span>
          </label>
        </dd>
      <dd>
        <label class="radio">
          <input name="course" type="radio" value="all">
          <span class="radio-inner"><i></i>決まっていない</span>
        </label>
      </dd>
    </div>

    <div class="application-body">

      <div class="application-form" id="js-content">
        <div class="application-form-item" id="js-basic">
          <div class="jicoo-widget" data-url="https://www.jicoo.com/event_types/nTuXo7MI4wrW/widget" style="min-width:320px;border:1px solid #e4e4e4;box-sizing:content-box;"></div>
        </div>
        <div class="application-form-item" id="js-career">
          <div class="jicoo-widget" data-url="https://www.jicoo.com/event_types/5jYPHyN0bUGx/widget" style="min-width:320px;border:1px solid #e4e4e4;box-sizing:content-box;"></div>
        </div>
        <div class="application-form-item" id="js-all">
          <div class="jicoo-widget" data-url="https://www.jicoo.com/event_types/F7TpWEJ9CPno/widget" style="min-width:320px;border:1px solid #e4e4e4;box-sizing:content-box;"></div>
        </div>
      </div>

    </div>

  </section>
</main>

<%- include('../modules/layout/_footer.html', {modifier: ""}) %>

<script type="text/javascript" src="https://www.jicoo.com/widget/event_type.js" async></script>
<script type="module" src="/assets/scripts/consulting.js"></script>
<%- include('../modules/meta/_foot.html') %>