<% const head = { 
  title: index.title, 
  disc: index.disc, };%> <%-
include('../modules/meta/_head.html', head) %> <%-
include('../modules/layout/_header.html') %> <%-
include('../modules/components/_hero.html') %>

<main>
  <%- include('../modules/components/_about.html') %> <%-
  include('../modules/components/_point.html') %> <%-
  include('../modules/components/_course.html') %> <%-
  include('../modules/components/_showcase.html') %> <%-
  include('../modules/components/_contact.html') %>
</main>

<%- include('../modules/layout/_footer.html') %>

<script type="module" src="./assets/scripts/index.js"></script>
<%- include('../modules/meta/_foot.html') %>
