<% const head = { title: common.title.privacyPolicy, disc: common.disc.privacyPolicy, theme:
"" }; const header = { contact: { href: "/contact/", text: "CONTACT" } }; const hero = {
title: "Privacy Policy", sub: "プライバシーポリシー", modifier: "sub-hero-long"
}; 

const contact = {
  headline: "お問い合わせはこちら",
  href: "/contact/",
  text: "CONTACT"
};

%> <%- include('../modules/meta/_head.html', head) %> <%-
include('../modules/layout/_header.html', {header: header}) %> <%-
include('../modules/components/_sub-hero.html', {hero: hero}) %>

<main>
  <div class="docs">
    <section>
      <h1>お客様から取得する情報</h1>
      <p>当社は、お客様から以下の情報を取得する可能性があります。</p>
      <ul>
        <li>氏名(ニックネームやペンネームも含む)</li>
        <li>年齢または生年月日</li>
        <li>性別</li>
        <li>職業、職歴、学歴</li>
        <li>メールアドレス</li>
        <li>電話番号</li>
        <li>住所</li>
        <li>
          当社ウェブサイトの滞在時間、入力履歴、購買履歴等の当社ウェブサイトにおけるお客様の行動履歴
        </li>
      </ul>
    </section>

    <section>
      <h1>お客様の情報を利用する目的</h1>
      <p>当社は、お客様から取得した情報を、以下の目的のために利用します。</p>
      <ul>
        <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
        <li>お客様の当社サービスの利用履歴を管理するため</li>
        <li>利用料金の決済のため</li>
        <li>
          当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため
        </li>
        <li>当社のサービスに関するご案内をするため</li>
        <li>お客様からのお問い合わせに対応するため</li>
        <li>当社の規約や法令に違反する行為に対応するため</li>
        <li>当社サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
        <li>当社規約の変更等を通知するため</li>
        <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
      </ul>
    </section>

    <section>
      <h1>安全管理のために講じた措置</h1>
      <p>
        当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
      </p>
    </section>

    <section>
      <h1>第三者提供</h1>
      <p>
        当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。但し、次の場合は除きます。
      </p>
      <ul>
        <li>個人データの取扱いを外部に委託する場合</li>
        <li>当社や当社サービスが買収された場合</li>
        <li>
          事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）
        </li>
        <li>その他、法律によって合法的に第三者提供が許されている場合</li>
        <li>プライバシーポリシーの変更</li>
        <li>
          当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知ます。
        </li>
      </ul>
    </section>

    <section>
      <h1>お問い合わせ</h1>
      <p>
        お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、<a href="./contact">お問い合わせ</a>からご連絡ください。
      </p>
      <p>
        この場合、必ず、運転免許証のご提示等当社が指定する方法により、ご本人からのご請求であることの確認をさせていただきます。<br>
        なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件あたり1,000円の事務手数料を申し受けます。
      </p>
    </section>

    <address>
      事業者の名称：合同会社BugFix<br />
      代表者氏名：堀口誠人<br />
      事業者の住所：東京都世田谷区桜上水４丁目９−１１ wdsビル303
    </address>
    <p><time datetime="2022-11-01">2022年11月01日 制定</time></p>
  </div>

  <%- include('../modules/components/_contact.html', {contact: contact}) %>
</main>

<%- include('../modules/layout/_footer.html', {modifier: "footer-has-contact"})
%>

<%- include('../modules/meta/_foot.html') %>
