<footer class="footer">
  <div class="footer-top">
    <div class="footer-top-info">
      <div class="footer-top-logo">
        <img src="/images/logo2.png" width="250" height="150" alt="SiiD ロゴ" />
      </div>
      <address>
        運営：合同会社BugFix<br />
        111-0000<br />
        東京都XXX区YYY1丁目1−1 ZZZビル101
      </address>
    </div>
    <div class="footer-top-nav">
      <a href="">ホーム</a>
      <a href="">コースについて</a>
      <a href="">ブログ</a>
      <a href="">企業サイト</a>
    </div>
    <div class="footer-top-others">
      <div class="footer-top-sns">
        <a href="" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div class="footer-top-line">
        <%- include("../modules/components/_line.html") %>
      </div>
    </div>
  </div>

  <div class="footer-border"></div>

  <div class="footer-bottom">
    <div class="footer-bottom-credit">
      <small>&copy;BugFix LLC.</small>
    </div>
    <div class="footer-bottom-nav">
      <a href="">利用規約</a>
      <a href="/privacy-policy">プライバシーポリシー</a>
      <a href="">特定商取引法に基づく表示</a>
    </div>
  </div>
</footer>
