<header class="header">
  <div class="header-inner">
    <div class="header-flex">
      <a class="header-logo" href="/">
        <%- include('../modules/components/_logo.html') %>
      </a>
      <button type="button" class="trigger" id="js-nav-trigger">
        <span></span>
      </button>
      <nav class="nav" id="js-nav">
        <div class="nav-container">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/siid/">SiiD</a>
              <div class="nav-children">
                <ul class="nav-children-inner">
                  <li class="nav-children-item">
                    <a class="nav-children-link" href="/siid/basic/">Basicコース</a>
                  </li>
                  <li class="nav-children-item">
                    <a class="nav-children-link" href="/siid/career/">Careerコース</a>
                  </li>
                  <li class="nav-children-item">
                    <a class="nav-children-link" href="/siid/tuition/">費用・コース比較</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://note.com/seito_horiguchi" target="_blank">Note</a>
            </li>
          </ul>
          <div class="nav-contact">
            <%- include("../modules/components/_link.html", {
              modifier: "link-nav",
              href: header.contact.href,
              text: header.contact.text
            }) %>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
