<% const head = { title: common.title.law, disc: common.disc.law, theme:
"" }; const header = { contact: { href: "/contact/", text: "CONTACT" } }; const hero = {
title: "LOW", sub: "特定商取引法に基づく表示", modifier: "sub-hero-long" }; 
const contact = {
  headline: "お問い合わせはこちら",
  href: "/contact/",
  text: "CONTACT"
};
%>
<%- include('../modules/meta/_head.html', head) %> <%-
include('../modules/layout/_header.html', {header: header}) %> <%-
include('../modules/components/_sub-hero.html', {hero: hero}) %>

<main>
  <div class="docs">
    <dl>
      <dt>事業者の名称</dt>
      <dd>合同会社BugFix</dd>
    </dl>
    <dl>
      <dt>事業責任者の氏名</dt>
      <dd>堀口誠人</dd>
    </dl>
    <dl>
      <dt>住所</dt>
      <dd>156-0045 東京都世田谷区桜上水４丁目９−１１ wdsビル303</dd>
    </dl>
    <dl>
      <dt>電話番号</dt>
      <dd>03-6679-6487</dd>
    </dl>
    <dl>
      <dt>メールアドレス</dt>
      <dd>seito@bug-fix.org</dd>
    </dl>
    <dl>
      <dt>商品の販売価格・サービスの対価</dt>
      <dd>各商品・サービスのご購入ページにて表示する価格</dd>
    </dl>
    <dl>
      <dt>対価以外に必要となる費用</dt>
      <dd>各商品・サービスのご購入ページに記載</dd>
    </dl>
    <dl>
      <dt>支払方法と支払時期</dt>
      <dd>申し込み確定後、初めの授業開始日までの間に銀行振込</dd>
    </dl>
    <dl>
      <dt>商品の引渡しまたはサービス提供の時期</dt>
      <dd>各商品・サービスのご購入ページに記載</dd>
    </dl>
    <dl>
      <dt>返品・キャンセルに関する特約</dt>
      <dd>購入手続完了後の返品またはキャンセルはお受けいたしません。</dd>
    </dl>
    <dl>
      <dt>動作環境</dt>
      <dd>
        商品のご利用又はサービスの享受に必要となるデバイスの動作環境及び必要スペックはご購入ページに表示します。
      </dd>
    </dl>
    <dl>
      <dt>その他</dt>
      <dd>
        その他特別な販売条件または提供条件があるサービスについては、それぞれの購入ページにおいて条件を表示します。
      </dd>
    </dl>
    <p><time datetime="2022-">2022年11月01日 制定</time></p>
  </div>

  <%- include('../modules/components/_contact.html', {contact: contact}) %>
</main>

<%- include('../modules/layout/_footer.html', {modifier: "footer-has-contact"}) %>

<%- include('../modules/meta/_foot.html') %>
