@use "../const" as cn;

.about {
  padding: 160px;
  border-radius: 20px;
  margin: 16px;
  color: #fff;
  background: cn.$color-core;
  position: relative;
  overflow: hidden;
}
.about-container {
  margin-bottom: 60px;
}
.about-disc {
  margin: 80px 0;
  p {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: .25em;
    margin-top: 0;
    margin-bottom: 38px;
  }
}
.about-bottom {
  color: cn.$color-stream;
  font-size: 124px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
}

@media screen and (max-width: cn.$bp-sm){
  .about {
    padding: 30px 20px 20px;
    margin: 0 20px;
  }
  .about-container {
    margin-bottom: 70px;
  }
  .about-disc {
    margin: 20px 0 40px;
    > p {
      font-size: 14px;
      margin-bottom: 17px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .about-bottom {
    color: cn.$color-stream;
    font-size: 62px;
  }
}

