// settings
@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.about {
  padding: fn.vw(160px);
  border-radius: fn.vw(20px);
  margin: 0 fn.vw(16px);
  color: #fff;
  background: var(--color-core);
  position: relative;
  overflow: hidden;
  .about-container {
    margin-bottom: fn.vw(60px);
  }
  .about-disc {
    margin: fn.vw(80px) 0;
    > p {
      font-size: fn.vw(24px);
      line-height: 1.5;
      letter-spacing: .25em;
      margin-top: 0;
      margin-bottom: fn.vw(38px);
    }
  }
  .about-bottom {
    color: var(--color-stream);
    @include mixin.font-maven(400);
    font-size: fn.vw(124px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
  }


  @media screen and (max-width: cn.$bp-sm){
    padding-right: fn.vw(60px);
    padding-left: fn.vw(60px);

    .about-disc {
      margin: fn.vw(100px) 0;
      > p {
        font-size: fn.fs(14px);
        margin-bottom: fn.vw(50px);
      }
    }
    .about-container {
      margin-bottom: fn.vw(160px);
    }
  }
}