@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.application {
  background: #fff;
  .application-header {
    padding: 0 fn.vw(120px);
    margin: fn.vw(80px) 0;
  }
  .application-conductor {
    width: 100%;
    background: var(--color-sub);
    text-align: center;
    color: #fff;
    padding: fn.vw(20px) 0;
    position: relative;
    &::after {
      content: "";
      display: block;
      border: fn.vw(40px) solid transparent;
      border-top: fn.vw(35px) solid var(--color-sub);
      position: absolute;
      z-index: 3;
      bottom: fn.vw(-70px);
      left: 50%;
      margin-left: fn.vw(-40px);
    }
  }
  .application-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0 fn.vw(20px);
    padding: 0 fn.vw(80px);
    > dt {
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      text-align: center;
      margin-bottom: fn.vw(40px);
      font-size: fn.fs(18px);
    }
    > dd {
      grid-row: 2 / 2;
    }
  }
  .application-body {
    padding: 0 fn.vw(120px) fn.vw(120px);
  }
  .application-form {
    position: relative;
    height: 0;
    overflow: hidden;

    // active
    &:has(.is-active){
      height: auto;
    }
  }
  .application-form-item {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    // active
    &.is-active {
      position: relative;
      visibility: visible;
    }
  }

  .application-spbr {
    display: none;
  }

  @media screen and (max-width: cn.$bp-sm){
    .application-header {
      padding: 0 fn.vw(40px);
    }
    .application-selection {
      padding: 0;
      display: block;
      > dt {
        font-size: fn.fs(16px);
        margin-bottom: fn.vw(80px);
      }
      > dd {
        margin-top: fn.vw(20px);
      }
    }
    .application-spbr {
      display: block;
    }
    .application-body {
      padding: 0;
    }
  }
}