@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.contact {
  margin: 0 fn.vw(120px);
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.15);
  .contact-inner {
    text-align: center;
    background: #fff;
    padding: fn.vw(52px) 0;
    border-radius: fn.vw(8px);
    > h1 {
      color: var(--color-main);
      font-size: fn.fs(32px);
      font-weight: bold;
      margin-bottom: fn.vw(37px);
    }
  }

  // modifier
  &.contact-index {
    margin-bottom: fn.vw(-150px);
  }

  @media screen and (max-width: cn.$bp-sm){
    margin: 0 fn.vw(80px);
    .contact-inner {
      border-radius: fn.vw(16px);
      padding-right: fn.vw(80px);
      padding-left: fn.vw(80px);
      > h1 {
        font-size: fn.fs(24px);
      }
    }
  } 
}