// settings
@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.docs {
  font-size: fn.fs(16px);
  padding: fn.vw(120px);
  h1 {
    font-size: fn.fs(24px);
    margin-bottom: fn.vw(20px);
  }
  section {
    margin: fn.vw(60px) 0;
  }
  dl {
    margin: fn.vw(20px) 0;
  }
  dt {
    font-weight: bold;
  }
  a {
    text-decoration: underline;
    color: var(--color-sub);
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-top: 0;
  }
  address {
    font-style: normal;
    margin-top: fn.vw(80px);
  }
  ul {
    li {
      list-style: disc;
      margin-left: 1.35em;
    }
  }

  @media screen and (max-width: cn.$bp-sm){
    padding-right: fn.vw(80px);
    padding-left: fn.vw(80px);
    section {
      margin: fn.vw(80px) 0;
    }
    dl {
      margin: fn.vw(40px) 0;
    }
    address {
      font-style: normal;
      margin-top: fn.vw(120px);
    }
  }
}