// settings
@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.jicoo {
  background: #fff;
  padding: fn.vw(60px) 0;
  text-align: center;
  > p {
    font-size: fn.fs(16px);
    margin-bottom: fn.vw(60px);
    padding: 0 fn.vw(20px);
  }
  .jicoo-spbr {
    display: none;
  }

  @media screen and (max-width: cn.$bp-sm){
    .jicoo-spbr {
      display: block;
    }
  }
}