@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.link {
  @include mixin.font-maven(500);
  display: inline-block;
  padding: fn.vw(25px) fn.vw(86px);
  font-size: fn.fs(16px);
  line-height: 1;
  color: #fff;
  text-decoration: none;
  position: relative;
  text-align: center;
  overflow: hidden;
  background: var(--color-sub);
  transition: box-shadow 0.2s ease-out, color 0.2s ease-out;
  backface-visibility: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: fn.vw(8px);
  > span {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: var(--color-sub-dark);
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease-out 0.2s;
  }
  &:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    &::after {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
  }

  // modifier
  &.link-full {
    width: 100%;
  }
  &.link-nav {
    padding: fn.vw(16px) fn.vw(32px);
    border-radius: fn.fs(74px);
    font-size: fn.fs(14px);
  }
  &.link-footer {
    padding: fn.vw(20px) fn.vw(55px);
    border: fn.vw(2px) solid #fff;
    background: transparent;
    &::after {
      background: #fff;
    }
    &:hover {
      color: var(--color-core);
    }
  }
  &.link-contact {
    background: var(--color-accent);
    padding: fn.vw(28px) fn.vw(160px);
    &::after {
      background: var(--color-accent-dark);
    }
  }

  @media screen and (max-width: cn.$bp-sm){
    padding-top: fn.vw(50px);
    padding-bottom: fn.vw(50px);
    border-radius: fn.vw(16px);
    &.link-nav {
      padding: fn.vw(70px) fn.vw(172px);
    }
    &.link-contact {
      padding-top: fn.vw(56px);
      padding-bottom: fn.vw(56px);
      width: 100%;
    }
    &.link-footer {
      padding: fn.vw(50px) fn.vw(110px);
    }
  }

  @media screen and (min-width: cn.$bp-sm) and (max-width: cn.$bp-lg) {
    &.link-footer {
      padding: fn.vw(40px) fn.vw(110px);
    }
  }
}