@use "../const" as cn;

.line {
  display: flex;
  align-items: center;
}
// .line-img {}
.line-text {
  padding-left: 20px;
  > dt {
    margin-bottom: 10px;
  }
  // > dd {}
}

@media screen and (max-width: cn.$bp-sm) {
  // .line {}
  .line-img {
    width: 100px;
    height: 100px;
  }
}