@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.media {
  color: var(--color-main);
  background: #fff;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.15);
  border-radius: fn.vw(8px);
  padding: fn.vw(50px) fn.vw(16px) fn.vw(32px);
  text-align: center;
  height: 100%;
  .media-headline {
    font-weight: bold;
    font-size: fn.fs(24px);
    letter-spacing: .15em;
    margin-bottom: fn.vw(22px);
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -50%;
      width: fn.vw(8px);
      height: fn.vw(8px);
      background: var(--color-sub);
      border-radius: 50%;
    }
  }
  .media-img {
    width: 100%;
    aspect-ratio: 352 / 240;
    background: #eee;
    border-radius: fn.vw(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    > img {
      max-width: 90%;
      max-height: 90%;
      width: auto;
      height: auto;
      transition: transform .25s;
    }
    &:hover {
      > img {
        transform: scale(1.1);
      }
    }
  }
  .media-disc {
    margin: fn.vw(24px) 0 0;
    text-align: left;
    letter-spacing: .04em;
  }
  
  @media screen and (max-width: cn.$bp-sm){
    border-radius: fn.vw(16px);
    padding-right:  fn.vw(40px);
    padding-left:  fn.vw(40px);
    padding-bottom:  fn.vw(70px);
    .media-headline {
      font-size: fn.fs(18px);
      letter-spacing: .15em;
      margin-bottom: fn.vw(44px);
    }
    .media-disc {
      margin-top: fn.vw(48px);
    }
  }

  @media screen and (min-width: cn.$bp-sm) and (max-width: cn.$bp-lg) {
    .media-headline {
      font-size: fn.fs(14px);
    }
  }
}