@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: cn.$z-index-max;
  transition: opacity 0.15s, visibility 0.15s;
  .modal-close {
    cursor: pointer;
    appearance: none;
    border: 0;
    width: 35px;
    height: 35px;
    background: var(--color-main);
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: fn.fs(24px);
    padding: 0;
    &::before,
    &::after {
      content: "";
      display: block;
      border-top: 1px solid #fff;
      width: 70%;
      position: absolute;
      transform-origin: center center;
    }
    &::before {
      left: 40%;
      top: 75%;
      transform: rotate(45deg) translate(-50%, -50%);
    }
    &::after {
      right: -13%;
      top: 26%;
      transform: rotate(-45deg) translate(-50%, -50%);
    }
  }
  .modal-back {
    display: block;
    position: absolute;
    z-index: cn.$z-index-max;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
  .modal-inner {
    position: relative;
    z-index: cn.$z-index-max + 1;
    width: fn.vw(1000px);
    max-height: 80%;
    background: #fff;
    padding: fn.vw(24px);
    transform: translateY(-5%);
    transition: transform 0.15s;
  }
  .modal-contents {
    overflow: scroll;
    height: 600px;
    border-radius: fn.fs(8px);
    text-align: center;
  }
  .modal-img {
    display: inline-block;
    border: 1px solid #eee;
    border-radius: fn.fs(8px);
    overflow: hidden;
    text-align: center;
  }
  .modal-data {
    text-align: left;
    color: var(--color-main);
    > dt {
      font-size: fn.fs(24px);
      font-weight: bold;
      margin-top: fn.vw(16px);
      margin-bottom: fn.vw(-10px);
    }
    > dd {
      margin-top: fn.vw(16px);
    }
  }

  // modifier
  &.is-active {
    visibility: visible;
    opacity: 1;
    .modal-inner {
      transform: translateY(0);
    }
  }

  @media screen and (max-width: cn.$bp-sm) {
    .modal-close {
      right: -15px;
      top: -15px;
    }
    .modal-inner {
      padding: fn.vw(40px);
      width: 90%;
    }
    .modal-contents {
      height: auto;
      max-height: 90vh;
    }
    .modal-img {
      width: 100%;
      > img {
        width: 100%;
        height: auto;
      }
    }
  }
}