@use "../const" as cn;

.showcase {
  padding: 140px 0 120px;
  overflow: hidden;
}
.showcase-header {
  padding: 0 120px;
  margin-bottom: 75px;
}
.showcase-header-link {
  line-height: 0;
}
.showcase-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase-header-headline {
  font-weight: bold;
  font-size: 48px;
  color: cn.$color-main;
  letter-spacing: .05em;
}

.showcase-contents {
  white-space: nowrap;
  overflow: hidden;
}
.showcase-list {
  overflow: scroll;
  padding-bottom: 80px;
  scrollbar-color: cn.$color-sub #333;
  scrollbar-width: thin;
  padding-right: 120px;
}
.showcase-item {
  vertical-align: top;
  white-space: wrap;
  display: inline-block;
  width: 772px;
  margin-right: 16px;
  &:first-child {
    width: 120px;
    visibility: hidden;
    margin: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: cn.$bp-sm) {
  .showcase {
    padding: 0 0 50px;
    position: relative;
    margin: 30px 0 40px;
  }
  .showcase-header-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .showcase-header {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .showcase-header-inner {
    display: block;
    text-align: center;
  }
  .showcase-header-headline {
    font-size: 24px;
  }
  .showcase-list {
    padding-right: 20px;
    padding-bottom: 15px;
  }
  .showcase-item {
    width: 100%;
    &:first-child {
      width: 20px;
    }
  }
}
