@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.sub-hero {
  padding: fn.vw(280px) 0 fn.vw(80px);
  .sub-hero-title {
    color: var(--color-main);
    text-align: center;
    > span {
      display: block;
      &:nth-child(1){
        font-size: fn.fs(20px);
      }
      &:nth-child(2){
        font-size: fn.fs(80px);
      }
      &:nth-child(3){
        font-size: fn.fs(18px);
      }
    }
  }

  @media screen and (max-width: cn.$bp-sm){
    padding: fn.vw(280px) 0 fn.vw(120px);
    .sub-hero-title {
      > span {
        &:nth-child(1){
          font-size: fn.fs(18px);
        }
        &:nth-child(2){
          font-size: fn.fs(32px);
        }
        &:nth-child(3){
          font-size: fn.fs(12px);
        }
      }
    }

    // modifiers
    &.sub-hero-long {
      .sub-hero-title {
        > span {
          &:nth-child(2){
            font-size: fn.fs(28px);
          }
        }
      }
    }
  }
}