@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.trigger {
  display: none;
  position: fixed;
  z-index: cn.$z-index-max + 1;
  right: fn.vw(80px);
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  width: 40px;
  height: 30px;
  overflow: hidden;
  &::before,
  &::after,
  > span {
    content: "";
    display: block;
    left: 0;
    width: 100%;
    border-top: 2px solid var(--color-main);
    transition: transform .2s ease-out;
  }
  &::before {
    position: absolute;
    top: 0;
    transform-origin: top right;
  }
  &::after {
    position: absolute;
    bottom: 0;
    transform-origin: bottom right;
  }

  @media screen and (max-width: cn.$bp-sm){
    display: block;

    // modifier
    &.is-active {
      &::before {
        transform: translate3d(-1px,-1px,0) rotate(-45deg);
      }
      &::after {
        transform: translate3d(-1px,-1px,0) rotate(45deg);
      }
      > span {
        transform: translateX(100%)
      }
    }
  }
}