@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.work {
  background: #fff;
  border-radius: fn.vw(8px);
  padding: fn.vw(24px);
  cursor: pointer;
  .work-img {
    border-radius: fn.vw(8px);
    overflow: hidden;
    > img {
      width: 100%;
      height: auto;
      transition: transform ease-out 0.2s;
    }
  }
  .work-data {
    margin-top: fn.vw(15px);
    > dt {
      font-size: fn.fs(24px);
      color: var(--color-main);
      margin-bottom: fn.vw(15px);
      font-weight: bold;
    }
    // > dd {}
  }
  &:hover {
    .work-img {
      > img {
        transform: scale(1.2);
      }
    }
  }

  @media screen and (max-width: cn.$bp-sm){
    border-radius: fn.vw(16px);
    padding: fn.vw(40px);
    .work-img {
      border-radius: fn.vw(16px);
    }
    .work-data {
      margin-top: 2%;
      > dt {
        font-size: fn.fs(18px);
        color: var(--color-main);
        margin-bottom: fn.vw(15px);
      }
    }
  }
}