<section class="about">
  <div class="about-container">
    <%- include('../modules/components/_headline.html', {modifier: "headline-left", main: about.headline.main, sub: about.headline.sub}) %>
    
    <div class="about-disc">
      <%- about.disc  %>
    </div>

    <% if(about.button){ %>
      <%- include("../modules/components/_link.html", {
        modifier: "link-full",
        href: button.href,
        text: "MORE"
      }) %>
    <% } %>
  </div>
  <div class="about-bottom" id="js-stream">
    <%- about.bottom  %>
  </div>
</section>