<section class="about">
  <div class="about-container">
    <%- include('../modules/components/_headline.html', {
      modifier: "headline-left", 
      main: "ABOUT", 
      sub: "SiiDとは"
    }) %>
    
    <div class="about-disc">
      <p>
        <strong>プログラミングは単なる技術ではなく、創造の力、未来を形作る鍵です。</strong><br>
        私たちのスクールでは、プログラミングを一つの冒険として捉え、皆さん一人ひとりの可能性を最大限に引き出すことを最終目的と捉えています。
      </p>
      <p>プログラミングというと難しい印象があるかと思います。<br>
        それもそのはず、プログラミングは従来の学校教育とは異なる方法で習得する必要があります。<br>
        私たちは、<strong>学習方法さえ間違わなければ誰にでも習得できるチャンスがあるスキル</strong>だと考えています。
      </p>
      <p>
        私たちのスクールでは、最先端のAI・DXツールとアクティブラーニングを活用して、受講生の皆様に効率的かつ戦略的に学べる取り組みを行っています。<br>
        私たちと共に、新しい境界を切り開く第一歩を踏み出しましょう！
      </p>
    </div>

  <div class="about-bottom" id="js-stream">
    Technology / Education / Web Marketing / IT Consulting / Development / Design / Business
  </div>
</section>