<section class="about">
  <div class="about-container">
    <%- include("../modules/components/_headline.html", { modifier: "", main:
    "ABOUT", sub: "SiiDとは" }) %>

    <div class="about-disc">
      <p>
        なんかめっちゃエモい話をここで書く。事業への想いとか、現状のプログラミングスクールへの感情とか、今後日本をどうしていきたいとか、教育はどうあるべきかとかとか。強調したい言葉のみウェイト太くするとメリハリ効いて良さそう。
      </p>

      <p>
        自身の体験も踏まえてみるといいかも？とにかくそんなアツい感じの文章をここに書く予定、そんな感じである。
      </p>

      <p>
        <strong
          >それか全部ウェイト太くして力強さを出すか。それか全部ウェイト太くして力強さを出すか。それか全部ウェイト太くして力強さを出すか。</strong
        >
      </p>
    </div>

    <%- include("../modules/components/_link.html", { modifier: "link-full",
    href: "", text: "MORE" }) %>

    <div class="about-bottom">
      Self-Learning / Imagination / ICT / Development
    </div>
  </div>
</section>
