<section class="course">
  <%- include("../modules/components/_headline.html", { modifier:
  "headline-center", main: "COURSE", sub: "2つのコース" }) %>

  <ul class="course-list">
    <li class="course-item">
      <%- include("../modules/components/_panel.html", { headline: "BASIC",
      disc:
      "「科学的に効果の高い学習メソッド」を用いた上で、プログラミングはもちろんアプリ開発やエンジニアの仕事に必要なスキル・マインドを包括的に学ぶことができます。"
      }) %>
    </li>
    <li class="course-item">
      <%- include("../modules/components/_panel.html", { headline: "CAREER",
      disc:
      "「科学的に効果の高い学習メソッド」を用いた上で、プログラミングはもちろんアプリ開発やエンジニアの仕事に必要なスキル・マインドを包括的に学ぶことができます。"
      }) %>
    </li>
  </ul>
</section>
