<div class="features">
  <div class="features-container">    
    <p>
      <%- features.disc %>
    </p>

    <ul class="features-list">
      <% features.contents.forEach(featureItem => { %>
        <li>
            <%- include("../modules/components/_block.html", { 
              img: featureItem.img,
              title: featureItem.title,
              disc: featureItem.disc }) %>
        </li>
      <% }) %>
    </ul>

    <% if(features.bottom) { %>
      <div class="features-bottom">
        <p>
          <%- features.bottom %>
        </p>
      </div>
    <% } %>
  </div>
</div>