<div class="hero js-scroll-animation">
  <div class="hero-inner">
    <h1 class="hero-headline">
      <%- hero.copy %>
    </h1>
  </div>
  <div class="hero-images">
    <ul class="hero-images-list">
      <% for( let index = 0; index < hero.images.length; index++ ) { %>
        <li class="hero-images-item">
          <img src="/images/hero/<%= hero.images[index] %>" alt="">
        </li>
      <% } %>
    </ul>
  </div>
  <div class="hero-animation" id="js-hero-animation">
    <%- include('../modules/components/_animation.html') %>
  </div>
</div>