<div class="modal" id="js-modal">
  <aside class="modal-inner">
    <button class="modal-close js-modal-close-trigger" type="button"></button>
    <div class="modal-contents">
      <div class="modal-img">
        <img name="workImg" src="/images/dummy.png" width="724" height="420" alt="">
      </div>
      <dl class="modal-data">
        <dt name="workHeadline"></dt>
        <dd>
          <b>制作者： </b><span name="workAuthor"></span>
          (<span name="workCourse"></span>)
          <br>
          <b>使用技術： </b><span name="workTech"></span>
        </dd>
        <dd name="workDesc"></dd>
      </dl>
    </div>
  </aside>
  <div class="modal-back js-modal-close-trigger"></div>
</div>