<section class="showcase">
  <div class="showcase-container">
    <div class="showcase-header">
      <%- include('../modules/components/_headline-small.html', { 
        title: "卒業生の実績",
        modifier: false,
        link: false
      }) %>
    </div>
  </div>

  <div class="showcase-contents">
    <ul class="showcase-list" id="js-showcase">
      <li></li>
      <% works.graduationWorks.forEach(workItem => { %>
      <li>
        <%- include("../modules/components/_work.html", { 
          img: workItem.img,
          headline: workItem.headline, 
          author: workItem.author,
          course: workItem.course,
          desc: workItem.desc,
          tech: workItem.tech }) %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
