@use "./const" as cn;

body {
  margin: 0;
  line-height: 1.6;
  font-size: 14px;
  font-feature-settings: "palt";
  font-family: "Noto Sans JP", "Meiryo", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  background: cn.$color-base;
  letter-spacing: .05em;
  -webkit-tap-highlight-color: cn.$color-base;
}

::selection{
  background: cn.$color-main;
  color: #fff;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl, dt, dd, figure, figcaption {
  margin: 0;
}

strong, em, b {
  font-weight: 600;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

em {
  color: cn.$color-sub;
  font-style: normal;
  font-weight: bold;
}