$color-main: #214a4a;
$color-sub: #289B8F;
$color-sub-dark: #248b80;
$color-core: #212732;
$color-accent: #EE7D2B;
$color-accent-dark: #d67026;
$color-base: #F4F4F4;
$color-strong: #0DD48D;
$color-stream: #313948;
$color-img-bg: #C5DDDD;
$color-gray: #ededed;

$site-width: 1440px;
$z-index-max: 100;
$bp-lg: 1280px;
$bp-sm: 600px;