@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.footer {
  background: var(--color-core);
  color: #fff;
  padding: fn.vw(120px);
  .footer-top {
    display: flex;
    justify-content: space-between;
  }
  .footer-top-logo {
    display: block;
    margin-bottom: fn.vw(45px);
    svg {
      width: fn.vw(180px);
      height: auto;
    }
    path {
      fill: #fff;
    }
  }
  .footer-top-info {
    margin-right: fn.vw(120px);
    > address {
      font-style: normal;
      color: #686E79;
    }
  }
  .footer-top-nav {
    margin-right: fn.vw(120px);
    > a {
      color: #fff;
      display: block;
      margin-bottom: fn.vw(21px);
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-top-others {
    margin-top: fn.vw(-10px);
    width: 30%;
  }
  .footer-top-sns {
    margin-bottom: fn.vw(35px);
    > a {
      color: #fff;
      font-size: fn.fs(28px);
      margin-right: fn.vw(14px);
      &:hover {
        opacity: .8;
      }
    }
  }
  .footer-border {
    border-top: fn.vw(1px) solid #fff;
    margin: fn.vw(40px) 0;
  }
  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-bottom-credit {
    color: #686E79;
  }
  .footer-bottom-nav {
    display: flex;
    > a {
      color: #fff;
      margin-left: fn.vw(32px);
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // modifier
  &.footer-has-contact {
    padding-top: fn.vw(120px + 150px);
  }

  @media screen and (max-width: cn.$bp-lg) {
    .footer-top-info {
      display: flex;
      align-items: end;
      margin-right: 0;
      width: 40%;
      padding-right: fn.vw(20px);
    }
    .footer-top-logo {
      margin-bottom: 0;
    }
    .footer-top-nav {
      display: none;
    }
    .footer-top-others {
      width: 60%;
    }
    .footer-top-sns {
      text-align: right;
    }
    .footer-bottom {
      flex-direction: column-reverse;
    }
    .footer-bottom-nav {
      margin-bottom: fn.vw(40px);
    }
  }

  @media screen and (max-width: cn.$bp-sm){
    padding-right: fn.vw(80px);
    padding-left: fn.vw(80px);
    .footer-top {
      flex-direction: column-reverse;
    }
    .footer-top-info {
      width: 100%;
      display: flex;
      align-items: center;
      padding-right: 0;
      margin-top: fn.vw(80px);
      > address {
        font-size: 10px;
      }
    }
    .footer-top-logo {
      width: 170px;
      display: block;
      margin-bottom: fn.vw(45px);
      margin-bottom: 0;
      svg {
        width: 100%;
      }
    }
    .footer-bottom {
      flex-direction: column-reverse;
    }
    .footer-bottom-nav {
      margin-bottom: fn.vw(40px);
      font-size: fn.fs(10px);
      > a {
        margin: 0 fn.vw(20px);
      }
    }
    .footer-top-sns {
      text-align: center;
      margin-bottom: fn.vw(80px);
    }
    .footer-top-others {
      width: 100%;
    }
    .footer-border {
      margin: fn.vw(80px) 0;
    }
  }
}