@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.header {
  width: 100%;
  position: absolute;
  z-index: 19;
  top: fn.vw(60px);
  left: 0;
  .header-inner {
    margin: 0 fn.vw(80px);
  }
  .header-logo {
    svg {
      width: fn.vw(180px);
      height: auto;
    }
    path {
      fill: var(--color-main);
    }
  }
  .header-flex {
    width: 100%;
    padding: 0.9vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: cn.$bp-sm){
    overflow: hidden;
    .header-logo {
      width: fn.vw(200px);
    }
  }
}